{{/*
@component: Header
@description: Standard page header with logo, navigation menu, and optional CTA buttons.
@params:
  None - all parameters are preset and passed to the components/menus/header_menu component
@example:
  {{ partial "header.html" . }}
@note: This is a basic header implementation that uses the menu/header_menu component with default values.
*/}}

{{ $isJapanese := eq site.Language.Lang "ja" }}

{{ if $isJapanese }}
  {{/* 日本語版ヘッダー */}}
  {{ partial "components/menus/header_menu" (dict 
      "logoUrl" "/images/smartweb-logo.png"
      "logoAlt" "SmartWeb Logo"
      "logoHeight" "h-6 sm:h-10 md:h-12"
      "siteTitle" "SmartWeb"
      "ctaText" "今すぐ始める"
      "ctaUrl" "/ja/blog/"
      "ctaBgColor" "bg-indigo-600"
      "ctaHoverBgColor" "hover:bg-indigo-500"
      "ctaTextColor" "text-white"
      "loginText" "サポート"
      "loginUrl" "https://support.smartweb.jp/"
      "menuItems" (slice 
        (dict "title" "ホーム" "url" "/ja/")
        (dict "title" "ブログ" "url" "/ja/blog/")
        (dict "title" "会社情報" "url" "https://www.intwk.co.jp/about/")
      )
  ) }}
{{ else }}
  {{/* 英語版ヘッダー */}}
  {{ partial "components/menus/header_menu" (dict 
      "logoUrl" "/images/smartweb-logo.png"
      "logoAlt" "SmartWeb Logo"
      "logoHeight" "h-6 sm:h-10 md:h-12"
      "siteTitle" "SmartWeb"
      "ctaText" "Get Started"
      "ctaUrl" "/en/blog/"
      "ctaBgColor" "bg-indigo-600"
      "ctaHoverBgColor" "hover:bg-indigo-500"
      "ctaTextColor" "text-white"
      "loginText" "Support"
      "loginUrl" "https://support.smartweb.jp/"
      "menuItems" (slice 
        (dict "title" "Home" "url" "/en/")
        (dict "title" "Blog" "url" "/en/blog/")
        (dict "title" "Company" "url" "https://www.intwk.co.jp/about/")
      )
  ) }}
{{ end }}
